li.flex.justify-between.items-center.py-3
  = link_to(post.title, post_path(post), class: 'text-indigo-500 underline collapsed')
  span.px-2.py-1.rounded-2xl.bg-gray-500.text-white.text-xs = post.author.parsed_fullname